<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="Bearhub is a gallery for bear community" name="description">
    <meta content="app-id=1057900220" name="apple-itunes-app">
    <title>Bearhub</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "system/css/land.css" %}">
</head>
<body class="home-page" id="flamyngo" data-gr-c-s-loaded="true" style="">
<header class="main-header">
    <div class="header-content">
        <a class="flamyngo-logo" href="/">
            <img class="flamyngo-img" alt="Logo" src="{% static "system/images/logo.png" %}">
            <h1 class="flamyngo-name">
                Bearhub
            </h1>
        </a>
    </div>
</header>
<main class="main wrapper">
    <div class="app-page">
        <div class="app-page-content">
            <h1 class="title">
                A better gallery for our bear community
            </h1>
            <h2 class="subtitle">
                10,000+ pictures and update everyday
            </h2>
            <div class="screen-1">
                <img alt="App screen 1" class="app-screen"
                     src="{% static "system/images/feed.jpg" %}">
            </div>
            <div class="screen-2">
                <img alt="App screen 2" class="app-screen"
                     src="{% static "system/images/gallery.jpg" %}">
            </div>
            <div class="screen-3">
                <img alt="App screen 3" class="app-screen"
                     src="{% static "system/images/drawer.jpg" %}">
            </div>
            <div class="screen-4">
                <img alt="App screen 4" class="app-screen"
                     src="{% static "system/images/favorite.jpg" %}">
            </div>
            <a class="get-app" target="_blank"
               href="">Get
                Bearhub
            </a>
            <footer>
                <div class="footer-content">
                    <p class="rights">
                        Copyright © 2019 Bearhub. All rights reserved
                    </p>
                </div>
            </footer>
        </div>
    </div>
</main>
    <script src="{% static "javascript/jquery/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "system/javascript/landing.js" %}"></script>
</body>
</html>