<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="Rainbow is ." name="description">
    <meta content="app-id=1057900220" name="apple-itunes-app">
    <title>Rainbow</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "system/css/land.css" %}">
</head>
<body class="home-page" id="flamyngo" data-gr-c-s-loaded="true" style="">
<header class="main-header">
    <div class="header-content">
        <a class="flamyngo-logo" href="/">
            <img class="flamyngo-img" alt="Logo" src="">
            <h1 class="flamyngo-name">
                Rainbow
            </h1>
        </a>
    </div>
</header>
<main class="main wrapper">
    <div class="app-page">
        <div class="app-page-content">
            <h1 class="title">
                A better gallery for our community !
            </h1>
            <div class="screen-1">
                <img alt="App screen 1" class="app-screen"
                     src="{% static "system/images/feed.png" %}">
            </div>
            <div class="screen-2">
                <img alt="App screen 2" class="app-screen"
                     src="{% static "system/images/gallery.png" %}">
            </div>
            <div class="screen-3">
                <img alt="App screen 3" class="app-screen"
                     src="{% static "system/images/drawer.png" %}">
            </div>
            <div class="screen-4">
                <img alt="App screen 4" class="app-screen"
                     src="{% static "system/images/favorite.png" %}">
            </div>
            <a class="get-app" target="_blank"
               href="https://itunes.apple.com/us/app/apple-store/id1057900220?pt=118033742&amp;ct=Homepage&amp;mt=8">Get
                Rainbow
            </a>
            <footer>
                <div class="footer-content">
                    <p class="rights">
                        ©
                        2019
                        Flamyngo
                    </p>
                </div>
            </footer>
        </div>
    </div>
</main>
</body>
</html>